/*stles.css*/
.container{
    background-color: blue;
    display: flex;
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 10px solid darkblue;
    justify-content: center;
    align-items: center;
}

.item{
    height: 50px;
    width: 50px;
    border: 10px solid maroon;
    padding: 10px;
    background: red;
    text-align: center;
}