/*styles.css*/
a{text-decoration:none;}

.warning{
    display: flex;
    flex:1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 100, 100);
    font-family: Roboto, sans-serif;
    /*Scaling the div continer to the complete page*/
    position:absolute;
    top: 0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.warning .container{
    display:flex;
    background: white;
    border-radius: 15px;
    /*border: 2px solid black;*/
    width: 500px;
    height: 185px;
    padding: 20px;
    padding-bottom: 10px;
}

.warning .exp{
    /*alignment*/
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /*style*/
    color: royalblue;
    font-size: 26px;
    font-weight: 700;
    background: lavender;
    /*border: 2px solid blue;*/
}

.warning .info{
    
    display: flex;
    flex-direction: column;
    font-size: 15px;
    /*border: 1px solid black;*/
    flex: 1 1 auto;
}

.info .heading{
    color: black;
    font-weight: 900;
    margin-bottom: 20px;
}

.info .buttons{
    display: flex;
    margin-top: 20px;
    /*border: 2px solid blue;*/
}

.info .b-continue{
    /*alignment*/
    text-align: center;
    padding: 8px 16px;
    border-radius: 8px;
    margin-right: 15px;
    /*style*/
    background-color: royalblue;
    color: white;
    /*border: 2px solid red;*/
}

.info .b-cancel{
    text-align:center;
    padding: 8px 16px;
    border-radius:8px;
    /*style*/
    border: 1px solid gainsboro;
    color: royalblue;
}

.warning .close{
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /*style*/
    font-size: 15px;
    color: #888;
    font-weight:900;
    background: #eee;
    /*border: 2px solid blue;*/
}






/*methods to span div for the whole screen*/

/* 1. Modifying the body,html to scale the div in the html and body to 100%*/
/*
html, body {
  margin:0px;
  height:100%;
}

.box {
  background:red;
  height:100%;
}
*/

/* 2.height 100vh*/
/*
.box {
    background:red;
    height:100vh;
  }
*/

/* 3. Position absolute the method forfullscreen div with content in the background:border*/
/*
.box {
    background:red;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }
*/